<div class="innerPageContent">
  <div class="innerLeft">
    <% if !@searches.empty? %>
      <div id="listingPanelNew">
        <% @searches.each do |l| %>	  	
          <div class="contentDiv" style="width:150px; height: auto;">
            <ul class="no-list-style">
              <li><%=l.name%></li>
              <li><a href="#" id=<%=l.id%> class="mylistings" onclick ="showSearch(this.id)" >Display Search</a></li>
              <li><%= link_to "Edit Search", edit_mysearch_path(l) %></li>
              <li><a href="#" id=<%=l.id%> class="mylistings" onclick ="searchSave(this.id)">Search with this criteria</a></li>
            </ul>
          </div>
          <div class="clrbth"></div>
          <br/>
          <br/>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id ="listingPanel" style="float: left;">
  </div>
  <div class="clrbth"></div>
  <div class="selector">
    <div id="divInDialog">
    </div>
  </div>
</div>
<script type="text/javascript">
  function searchSave(id){   
    $.ajax
    ({
      type: "POST",
      //data: id,
      url: "/search_with_criteria?id="+id,
      success: function (data){
        $("#listingPanel").html("");
        $('#listingPanel').html(data);
        if (data == '' || data.length < 1) {
              alert("No Results found for the given search criteria.");
          }

      }
    });


  }
function showSearch(id)
    {
    $( ".selector" ).dialog({
      show: {
        effect: "blind",
        duration: 1000
      },
      hide: {
        effect: "explode",
        duration: 1000
      },
      position : 'top',
      title: "Search Details",
      open: function(event, ui) {
        $('#divInDialog').load('/get_search_details?id='+id, function() {
          //alert('Load was performed.');
        });
      }
    });

  }

  

  $('#search').click(function(){
    $.ajax
    ({
      type: "POST",
      data: $("form").serialize(),
      url: "/my_search_listing",
      success: function (data){
        $("#result_data").html("");
        $('#listingPanel').html(data);
        //$('#ListingBack').show();
        if (data == '' || data.length < 1) {
              alert("No Results found for the given search criteria.");
          }

      }
    });

  });

  $(document).ready(function(){
    $("#save_search").click(function() {

       if($("#key_search").val() == "" && $("#min_amount").val() == "" && $("#max_amount").val() == "" && $("#bedrooms").val() == "" && $("#bathrooms").val() == "" && $("#zip").val() == ""){
          alert("Please select the any of the values to save search");
       }
       else{
         $( "#saveForm" ).dialog({
            show: {
              effect: "blind",
              duration: 1000
            },
            hide: {
              effect: "explode",
              duration: 1000
            },
            position : 'top',
            title: "Save Search Criteria"

          });
       }
    });

    $("#save_submit").click(function() {
      var url = "/save_search?name="+$("#save_name").val(); // the script where you handle the form input.

      $.ajax({
             type: "POST",
             url: url,
             data: $("form").serialize(), // serializes the form's elements.
             success: function(data)
             {
                 alert(data); // show response from the php script.
             }
           });

        return false; // avoid to execute the actual submit of the form.
     });

  });


</script>
