<div class="innerLeft">
  <div id="listingPanelNew">
    <div class="contentDiv" style="width:150px; height: auto;">
      <ul>
        <li><%= @search.name %></li>
      </ul>
    </div>
  </div>
</div>
